<h1>About smswall</h1>
<p>smswall was made by <%= link_to "@mitchwd", "http://www.twitter.com/mitchwd", target: "_blank" %> at <%= link_to "mitchwd.com", "http://www.mitchwd.com", target: "_blank" %>.</p>